---
import { SITE } from 'astrowind:config';
import logoImage from '~/assets/images/x.png';
---

<div class="flex items-center">
  <img 
    src={logoImage.src} 
    alt="RAIR Protocol Logo" 
    class="h-8 w-auto"
  />
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    RAIRprotocol
  </span>
</div>
