---
export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
}

const {
  label = 'Toggle Menu',
  class:
    className = "text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300",
  iconClass = "flex flex-col h-12 w-12 justify-center items-center",
} = Astro.props;
---

<button
  type="button"
  class={className}
  aria-label={label}
  data-aw-toggle-menu
>
  <span class="sr-only">{label}</span>
  <div class={iconClass}>
    <slot>
      <span
        aria-hidden="true"
        class="h-0.5 w-6 my-1 rounded-full bg-current transition ease transform duration-200 group-expanded:rotate-45 group-expanded:translate-y-2.5"
      ></span>
      <span
        aria-hidden="true"
        class="h-0.5 w-6 my-1 rounded-full bg-current transition ease transform duration-200 group-expanded:opacity-0"
      ></span>
      <span
        aria-hidden="true"
        class="h-0.5 w-6 my-1 rounded-full bg-current transition ease transform duration-200 group-expanded:-rotate-45 group-expanded:-translate-y-2.5"
      ></span>
    </slot>
  </div>
</button>

<style>
  [data-aw-toggle-menu].expanded span:first-child {
    transform: rotate(45deg) translate(0.45rem, 0.45rem);
  }

  [data-aw-toggle-menu].expanded span:nth-child(2) {
    opacity: 0;
  }

  [data-aw-toggle-menu].expanded span:last-child {
    transform: rotate(-45deg) translate(0.45rem, -0.45rem);
  }
</style>
